<h2>Template Switches</h2>
<hr />

<form #myForm="ngForm">
  <div class="row mb-3">
    <label for="" class="col-sm-3 col-form-label">Genre</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          [(ngModel)]="person.genre"
          class="form-check-input"
          type="radio"
          value="F"
          name="radioGenre"
          id="radioGenreWoman"
          required
        />
        <label class="form-check-label" for="radioGenreWoman"> Woman </label>
      </div>
      <div class="form-check">
        <input
          [(ngModel)]="person.genre"
          class="form-check-input"
          type="radio"
          value="M"
          name="radioGenre"
          id="radioGenreMan"
          required
        />
        <label class="form-check-label" for="radioGenreMan"> Man </label>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <label for="" class="col-sm-3 col-form-label">Notification</label>
    <div class="col-sm-9">
      <div class="form-check form-switch mt-2">
        <input
          [(ngModel)]="person.notifications"
          name="notifications"
          class="form-check-input"
          type="checkbox"
          id="flexSwitchCheckChecked"
          checked
        />
        <label class="form-check-label" for="flexSwitchCheckChecked"
          >I want notifications</label
        >
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <label for="" class="col-sm-3 col-form-label"></label>
    <div class="col-sm-9">
      <div class="form-check">
        <input
          [(ngModel)]="termsAndConditions"
          name="terms"
          class="form-check-input"
          type="checkbox"
          id="flexCheckDefault"
          required
        />
        <label class="form-check-label" for="flexCheckDefault">
          Terms and condition
        </label>
      </div>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col">
      <button
        type="button"
        class="btn btn-primary float-end"
        [disabled]="myForm.invalid"
      >
        Save
      </button>
    </div>
  </div>
</form>

<h5>Value Form:</h5>
<pre>{{ myForm.value | json }}</pre>
<br />

<h5>Value Person:</h5>
<pre>{{ person | json }}</pre>
<br />

<h5>Value Terms:</h5>
<pre>{{ myForm.controls["terms"]?.errors | json }}</pre>
<br />

<h5>Valid Form:</h5>
<pre>{{ myForm.valid | json }}</pre>
<br />
